body {
  background-color: #cbd4de;
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
  background: #131313;
  padding: 16px;
  border-radius: 20px;
  width: 600px;
  max-height: 22px;
  overflow: hidden;
  position: relative;
}

.navbar a {
  text-decoration: none;
  font-size: 17.4px;
  transition: color 0.3s;
  color: #b6b6b6;
  padding: 5px 10px;
}

.navbar a:hover {
  color: #cfcfcf;
}

.navbar a.selected {
  color: #ffffff;
}

.navbar img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}