/* Reset dei margini e del padding per tutti gli elementi */
* {
    margin: 0;
    padding: 0;
}

/* Applica il font e la dimensione del testo al body */
body {
    font-family: Arial, sans-serif;
}

/* Stili per la barra di navigazione principale */
.navbar {
    width: 100%;
    height: 56px;
    background-color: #131313;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    padding: 0;
    position: relative;
}

/* Stili per i link nella barra di navigazione */
.navbar a {
    padding: 10px 20px;
    font-size: 17px;
    color: #b6b6b6;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #e4e4e4;
}

/* Stili per l'immagine di Archisoft */
.navbar img {
    position: absolute;
    width: 145px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* Stili per il pulsante con menu a discesa */
.navbar-button {
    position: relative;
}

/* Stili per il menu a discesa */
.dropdown {
    position: absolute;
    display: none;
    width: 120px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #131313;
    padding: 5px 5px;
    text-align: center;
    border-radius: 0 0 8px 8px;
}

.navbar-button:hover .dropdown {
    display: block;
}

/* Stili per gli elementi del menu a discesa */
.dropdown-item {
    padding: 10px;
    text-decoration: none;
    display: block;
}

/* Stili per il footer */
.footer {
    width: 100%;
    min-height: 250px;
    background-color: #131313;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
}

.footer p {
    color: #ffffff;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

/* Stili per il contenitore dei social media */
.social-container {
    position: absolute;
    width: 180px;
    display: flex;
    justify-content: center;
    background-color: #282828;
    border-radius: 10px;
    padding: 10px;
    bottom: 10px;
    right: 10px;
}

.social-container img {
    width: 40px;
    height: 40px;
    margin: 0 4px;
    border-radius: 50%;
    transition: transform 0.2s;
}

.social-container img:hover {
    transform: scale(1.2);
}

/* Stili per la linea orizzontale nel footer */
.footer hr {
    position: absolute;
    width: 50%;
    left: 25%;
    bottom: 40px;
    color: #c7c7c7;
}