<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/layout/footer.css">
</head>

<body>
    <footer>
        <hr>
        <p>Copyright © 2023 ArchiSoft - All rights reserved</p>
        <center>
            <div class="social-container">
                <a href="https://www.instagram.com/archisoft.it/" target="_blank">
                    <img src="/img/instagram.svg" alt="Instagram" class="image-zoom">
                </a>

                <a href="URL_di_Telegram" target="_blank">
                    <img src="/img/telegram.svg" alt="Telegram" class="image-zoom">
                </a>

                <a href="URL_di_WhatsApp" target="_blank">
                    <img src="/img/whatsapp.svg" alt="WhatsApp" class="image-zoom">
                </a>

                <a href="https://github.com/onlyymax" target="_blank">
                    <img src="/img/github.svg" alt="GitHub" class="image-zoom">
                </a>
            </div>
        </center>
    </footer>
</body>

</html>