body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Barra di navigazione principale */
.navbar {
    position: relative;
    width: 800px;
    height: 56px;
    background-color: #131313;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    padding: 0;
}

/* Link nella barra di navigazione */
.navbar a {
    padding: 10px 20px;
    font-size: 17px;
    color: #b6b6b6;
    text-decoration: none;
    transition: color 0.3s;
}

/* L'hover dei tasti*/
.navbar a:hover {
    color: #e4e4e4;
}

/* L'immagine di archisoft*/
.navbar img {
    position: absolute;
    width: 145px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* Pulsante con menu a discesa */
.navbar-button {
    position: relative;
}

/* Menu a discesa */
.dropdown {
    position: absolute;
    display: none;
    width: 125px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #131313;
    padding: 5px 5px;
    text-align: center;
    border-radius: 0 0 8px 8px;
}

/* Mostra il menu a discesa quando si passa sopra al pulsante */
.navbar-button:hover .dropdown {
    display: block;
}

/* Elemento del menu a discesa */
.dropdown-item {
    padding: 10px;
    text-decoration: none;
    display: block;
}

/* Il footer */
.footer {
    width: 100%;
    min-height: 250px;
    background-color: #131313;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
}

/* Il paragrafo "Copyright" */
.footer p {
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer hr {
    position: absolute;
    bottom: 50%;
    width: 940px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #c7c7c7;
}

/* Contenitore delle icone social nella footer */
.social-container {
    position: absolute;
    width: 205px;
    display: flex;
    justify-content: center;
    background-color: #282828;
    border-radius: 10px;
    padding: 7px;
    bottom: 70px;
    left: 63.3%;
}

.social-container img {
    width: 44px;
    margin: 0 4px;
    border-radius: 50%;
    transition: transform 0.3s;
}

.social-container img:hover {
    transform: scale(1.2);
}