body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 76px;
}

.navbar {
    position: fixed;
    width: 800px;
    height: 56px;
    background-color: #131313;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
    transition: top 0.3s;
}

.navbar a {
    padding: 14px 20px;
    font-size: 17px;
    color: #b6b6b6;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #e4e4e4;
}

.navbar a.active {
    color: red;
}

.navbar img {
    position: absolute;
    width: 145px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-button {
    position: relative;
}

.dropdown {
    position: absolute;
    width: 125px;
    top: 170%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #131313;
    padding: 5px 5px;
    text-align: center;
    border-radius: 0 0 8px 8px;
    transition-property: opacity;
    transition-duration: 0.3s;
    opacity: 0%;
}


.navbar-button:hover .dropdown {
    visibility: visible;
    transition-property: opacity;
    transition-duration: 0.3s;
    opacity: 100%;
}

.dropdown-item {
    padding: 10px;
    display: block;
}