<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/ArchiSquare.png" type="image/x-icon">
    <link rel="stylesheet" href="/layout/navbar.css">
</head>

<body>
    <div class="navbar">
        <img src="/img/ArchiSoftNormale.svg" alt="Logo del Tuo Sito">
        <a href="/" id="home">Home</a>
        <div class="navbar-button">
            <a href="project.html" id="project">Progetti</a>
            <div class="dropdown">
                <a href="#" class="dropdown-item">Maki Client</a>
                <a href="#" class="dropdown-item">TelePyBoT</a>
                <a href="#" class="dropdown-item">Friday</a>
            </div>
        </div>
        <a href="whoweare.html" id="whoweare">Chi siamo</a>


    </div>

</body>

</html>