body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 76px;
}

nav {
    position: fixed;
    width: 800px;
    height: 56px;
    background-color: #131313;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
    transition: top 0.3s;
}

nav a {
    padding: 0px 10px;
    height: 56px;
    font-size: 17px;
    color: #b6b6b6;
    text-decoration: none;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a:hover {
    color: #e4e4e4;
}

nav a.active {
    color: red;
}

nav img {
    position: absolute;
    width: 145px;
    left: 10px;
}

::selection {
    background-color: #00000042;
}

::-moz-selection {
    background-color: #00000042;
}

::-o-selection {
    background-color: #00000042;
}

::-webkit-selection {
    background-color: #00000042;
}